<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/output.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Verificar correo</title>
</head>
<body>
  <div class="flex flex-col items-center justify-center h-screen p-4">
    <div class="bg-zinc-200 md:w-2/4 p-4 text-center rounded-lg shadow-md">
      <p id="text-info" class="text-lg">Verificando...</p>
    </div>
    <div class="hidden lg:flex w-2/4 justify-center items-center mt-6">
      <img class="w-2/5" src="/images/bus.webp" alt="imagen para verificar correo">
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>