<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <title>Home</title>
</head>
<body class="bg-zinc-50">
  <!-- <nav id="navbar" class="relative top-0- right-0 left-0 bg-yellow-400 h-16">
  </nav> -->
  <section>
    <!-- <header>
      <a href="#" class="logo">Travel</a>
      <!-- <div class="menu">
        <a href="#" onclick="toggleMenu()"><img src="/images/menu.png" alt=""></a>
      </div> -->
    <!-- </header> -->
    <div class="absolute top-0 left-0 w-full h-full object-cover">
      <video src="/images/video.mp4" type="video/mp4" autoplay loop muted></video>
    </div>
    <!-- Menu lateral -->
    <!-- <aside>
      <div class="menu">
        <a href="#" onclick="toggleMenu()"><img src="/images/close.png" alt=""></a>
      </div>
      <div class="box">
        <img src="/images/bali.jpeg" alt="">
        <div class="texto">
          <p><span>Bali</span> - Indonesia</p>
        </div>
      </div>
      <div class="box">
        <img src="/images/flakstad.jpeg" alt="">
        <div class="texto">
          <p><span>Flakstad</span> - Noruega</p>
        </div>
      </div>
      <div class="box">
        <img src="/images/venecia.jpeg" alt="">
        <div class="texto">
          <p><span>Venecia</span> - Italia</p>
        </div>
      </div>
    </aside> -->
    <!-- Contenido -->
    <div class="contenido">
      <h2>Travel</h2>
      <p>Tu aventura comienza aquí y ahora</p>
      <div class="flex justify-around gap-4 mt-4">
        <a class="bg-transparent border-2 border-green-600 py-2 px-4 rounded-lg text-white font-bold hover:bg-green-600 w-2/4 text-center transition ease-in-out" href="/login/">Login</a>
        <a class="bg-green-600 py-2 px-4 rounded-lg text-white font-bold hover:bg-green-700 w-2/4 text-center transition ease-in-out" href="/signup/">Registro</a>
      </div>
    </div>
    <!-- Cards -->
    <!-- <div class="cards">
      <div class="card" id="card1">
        <img src="/images/map.png" alt="">
        <p>Nuevos tours disponibles para Amazonas</p>
      </div>
      <div class="card" id="card2">
        <img src="/images/map.png" alt="">
        <p>Bali ha sido añadida al tour de Indonesia</p>
      </div>
      <div class="card" id="card3">
        <img src="/images/map.png" alt="">
        <p>A partir de octubre estaran disponibles los tours para Curazao</p>
      </div>
    </div> -->
    <!-- Redes Sociales -->
    <div class="redesSociales">
      <ul>
        <li><a href="https://www.facebook.com/christophermoises.canelonbarreto"><ion-icon name="logo-facebook" class="lg:w-9 lg:h-9 md:w-7 md:h-7"></ion-icon></a></li>
        <li><a href="https://www.instagram.com/?hl=es"><ion-icon name="logo-instagram" class="lg:w-9 lg:h-9 md:w-7 md:h-7"></ion-icon></a></li>
        <li><a href="https://www.linkedin.com/feed/"><ion-icon name="logo-linkedin" class="lg:w-9 lg:h-9 md:w-7 md:h-7"></ion-icon></a></li>
      </ul>
    </div>
  </section>
  <!--Libreria de ionicons-->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!--Libreria scrollreveal-->
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
  <script src="index.js"></script>
  <!-- <script src="/components/nav.js"></script> -->
</body>
</html>